<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Space Reservation</title>
</head>
<body>
<h2>Please, input login</h2>
<br/>
<form action="#" th:action="@{/login(role = ${role})}" th:object="${loginInput}" method="post">
    <div>
        <input type="text" th:field="*{login}" placeholder="login"/>
    </div>
    <br/>
    <button type="submit">Log In</button>
    <ul>
        <li th:each="err : ${#fields.errors('id')}" th:text="${err}" style="color: red;"/>
    </ul>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
</form>
</body>
</html>