<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Space Reservation</title>
</head>
<body>
<h2>Please, input reservation data</h2>
<br/>
<form action="#" th:action="@{/space/available}" th:object="${reservationDateTimeInput}" method="get">
    <div>
        <label for="date">Date</label>
        <input id="date" type="date" th:field="*{date}"/>
        <ul>
            <li th:each="err : ${#fields.errors('date')}" th:text="${err}" style="color: red;"/>
        </ul>
    </div>
    <br/>
    <div>
        <label for="startTime">Start Time</label>
        <input id="startTime" type="time" th:field="*{startTime}"/>
        <ul>
            <li th:each="err : ${#fields.errors('startTime')}" th:text="${err}" style="color: red;"/>
        </ul>
    </div>
    <br/>
    <div>
        <label for="endTime">End Time</label>
        <input id="endTime" type="time" th:field="*{endTime}"/>
        <ul>
            <li th:each="err : ${#fields.errors('endTime')}" th:text="${err}" style="color: red;"/>
        </ul>
    </div>
    <br/>
    <button type="submit">Submit</button>
</form>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
<p th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></p>
</body>
</html>