<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Reservation</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> SpaceId </th>
        <th> Type </th>
        <th> HourlyPrice </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${spaces.empty}">
        <td colspan="3"> No Reservations Available </td>
    </tr>
    <tr th:each="space : ${spaces}">
        <td><span th:text="${space.id}"> SpaceId </span></td>
        <td><span th:text="${space.type}"> Type </span></td>
        <td><span th:text="${space.hourlyPrice}"> HourlyPrice </span></td>
    </tr>
    </tbody>
</table>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
</body>
</html>